<h2 class="genesis-sidebar-title screen-reader-text">Footer</h2>
<div class="wrap">
  <div class="row gutter-xl">
    <div class="widget-area footer-widgets-1 footer-widget-area col col-xs-12 col-sm-6 col-md-3">
      <section class="widget widget_text">
        <div class="widget-wrap">
          <h3 class="widgettitle widget-title">Visit YouTube</h3>
          <div class="textwidget">
            <p>
              <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw" target="_blank" rel="noopener">
                <img
                  src="{{ '/assets/images/footer-youtube.jpg' | relative_url }}"
                  alt="Visit YouTube"
                  width="297"
                  height="178"
                />
              </a><br />
              <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw" target="_blank" rel="noopener">Watch Stabat Mater performances</a>
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="widget-area footer-widgets-2 footer-widget-area col col-xs-12 col-sm-6 col-md-3">
      <section class="widget widget_text">
        <div class="widget-wrap">
          <h3 class="widgettitle widget-title">Photos on Instagram</h3>
          <div class="textwidget">
            <p>
              <a href="https://www.instagram.com/stabatmater.info/" target="_blank" rel="noopener">
                <img
                  src="{{ '/assets/images/footer-instagram.jpg' | relative_url }}"
                  alt="Photos on Instagram"
                  width="297"
                  height="178"
                />
              </a><br />
              <a href="https://www.instagram.com/stabatmater.info/" target="_blank" rel="noopener">Mary at the foot of the cross</a>
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="widget-area footer-widgets-3 footer-widget-area col col-xs-12 col-sm-6 col-md-3">
      <section class="widget widget_text">
        <div class="widget-wrap">
          <h3 class="widgettitle widget-title">Stabat Mater Book</h3>
          <div class="textwidget">
            <p>
              <a href="https://www.amazon.com/Stabat-Mater-Dolorosa-Journey-Centuries/dp/B0CY8T9MG1" target="_blank" rel="noopener">
                <img
                  src="{{ '/assets/images/footer-book.jpg' | relative_url }}"
                  alt="Stabat Mater Book"
                />
              </a>
              <a href="https://www.amazon.com/Stabat-Mater-Dolorosa-Journey-Centuries/dp/B0CY8T9MG1" target="_blank" rel="noopener">New Release: Stabat Mater Dolorosa</a>
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="widget-area footer-widgets-4 footer-widget-area col col-xs-12 col-sm-6 col-md-3">
      <section class="widget widget_text">
        <div class="widget-wrap">
          <h3 class="widgettitle widget-title">Interested?</h3>
          <div class="textwidget">
            <p>Subscribe to the newsletter</p>
            <form id="mc4wp-form-1" class="mc4wp-form" method="post" data-name="Newsletter">
              <div class="mc4wp-form-fields">
                <p>
                  <label>Email address:<br />
                    <input type="email" name="EMAIL" placeholder="Your email address" required />
                  </label>
                </p>
                <p>
                  <input type="submit" value="Sign up" />
                </p>
              </div>
              <p class="visually-hidden">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></p>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
