<div class="wrap">
  <div class="site-header-row row middle-xs between-xs">
    <div class="title-area col col-xs-auto start-xs">
      <p class="site-title">
        <a href="{{ '/' | relative_url }}" class="custom-logo-link" rel="home">
          <img
            src="{{ '/assets/images/logo.png' | relative_url }}"
            class="custom-logo"
            alt="The ultimate Stabat Mater site"
          />
        </a>
      </p>
      <p class="site-description screen-reader-text">a musical journey through the ages...</p>
    </div>
    <div class="header-right col col-xs text-xs-right">
      <aside class="widget-area">
        <section class="widget widget_text">
          <div class="widget-wrap">
            <div class="textwidget">
              <p class="site-titel">The Ultimate Stabat Mater Website </p>
              <p class="site-omschrijving">a musical journey through the ages</p>
            </div>
          </div>
        </section>
      </aside>
    </div>
  </div>
  <div id="mai-menu" class="mai-menu">
    <div class="mai-menu-outer">
      <div class="mai-menu-inner">
        <form class="search-form" method="get" action="{{ '/' | relative_url }}" role="search">
          <label class="search-form-label screen-reader-text" for="searchform-2">Search this website</label>
          <input class="search-form-input" type="search" name="s" id="searchform-2" placeholder="Search this website" />
          <input class="search-form-submit" type="submit" value="Search" />
          <meta content="{{ '/' | relative_url }}?s={s}" />
        </form>
        <div class="menu-hoofdmenu-container">
          <ul id="menu-hoofdmenu" class="menu">
            <li class="menu-item menu-item-home current-menu-item"><a href="{{ '/' | relative_url }}" aria-current="page">Home</a></li>
            <li class="menu-item menu-item-has-children">
              <a href="{{ '/stabat-mater-composer/' | relative_url }}">Composers</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="{{ '/stabat-mater-composer/alphabetically/' | relative_url }}">Alphabetically</a></li>
                <li class="menu-item"><a href="{{ '/stabat-mater-composer/countries-of-origin/' | relative_url }}">By country of origin</a></li>
                <li class="menu-item"><a href="{{ '/stabat-mater-composer/chronologically/' | relative_url }}">Chronologically</a></li>
                <li class="menu-item"><a href="{{ '/stabat-mater-composer/duration/' | relative_url }}">By duration</a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="{{ '/stabat-mater-dolorosa-about-the-poem/' | relative_url }}">Texts</a></li>
            <li class="menu-item"><a href="{{ '/stabat-mater-translations-and-languages/' | relative_url }}">Translations</a></li>
            <li class="menu-item"><a href="{{ '/stabat-mater-blog/' | relative_url }}">Blog</a></li>
            <li class="menu-item"><a href="{{ '/stabat-mater-cd-collection/' | relative_url }}">Missing CDs</a></li>
            <li class="menu-item"><a href="{{ '/stabat-mater-foundation/' | relative_url }}">About</a></li>
            <li class="menu-item"><a href="{{ '/stabat-mater-collection-support/' | relative_url }}">Donate?</a></li>
            <li class="menu-item"><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
