<div class="wrap">
  <div class="site-header-row row middle-xs between-xs">
    <div class="title-area col col-xs start-xs">
      <p class="site-title">
        <a href="{{ '/' | relative_url }}" class="custom-logo-link" rel="home">
          <img
            src="{{ '/assets/images/logo.png' | relative_url }}"
            class="custom-logo"
            alt="The ultimate Stabat Mater site"
          />
        </a>
      </p>
      <div class="site-branding">
        <p class="site-titel">The Ultimate Stabat Mater Website </p>
        <p class="site-omschrijving">a musical journey through the ages</p>
      </div>
      <p class="site-description screen-reader-text">a musical journey through the ages...</p>
    </div>
  </div>
</div>
