<div class="wrap">
  <ul id="menu-hoofdmenu-1" class="menu genesis-nav-menu menu-secondary responsive-menu">
    <li class="menu-item menu-item-home current-menu-item">
      <a href="{{ '/' | relative_url }}" aria-current="page">Home</a>
    </li>
    <li class="menu-item menu-item-has-children">
      <a href="{{ '/stabat-mater-composer/' | relative_url }}">Composers</a>
      <ul class="sub-menu">
        <li class="menu-item"><a href="{{ '/stabat-mater-composer/alphabetically/' | relative_url }}">Alphabetically</a></li>
        <li class="menu-item"><a href="{{ '/stabat-mater-composer/countries-of-origin/' | relative_url }}">By country of origin</a></li>
        <li class="menu-item"><a href="{{ '/stabat-mater-composer/chronologically/' | relative_url }}">Chronologically</a></li>
        <li class="menu-item"><a href="{{ '/stabat-mater-composer/duration/' | relative_url }}">By duration</a></li>
      </ul>
    </li>
    <li class="menu-item"><a href="{{ '/stabat-mater-dolorosa-about-the-poem/' | relative_url }}">Texts</a></li>
    <li class="menu-item"><a href="{{ '/stabat-mater-translations-and-languages/' | relative_url }}">Translations</a></li>
    <li class="menu-item"><a href="{{ '/stabat-mater-blog/' | relative_url }}">Blog</a></li>
    <li class="menu-item"><a href="{{ '/stabat-mater-cd-collection/' | relative_url }}">Missing CDs</a></li>
    <li class="menu-item"><a href="{{ '/stabat-mater-foundation/' | relative_url }}">About</a></li>
    <li class="menu-item"><a href="{{ '/stabat-mater-collection-support/' | relative_url }}">Donate?</a></li>
    <li class="menu-item"><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
  </ul>
</div>
