<section id="text-60" class="widget boxed widget_text">
  <div class="widget-wrap">
    <div class="textwidget">
      <p>
        <a href="{{ '/stabat-mater-collection-support/' | relative_url }}">
          <img
            src="{{ '/assets/images/sidebar-donate.jpg' | relative_url }}"
            alt="Donate to the Stabat Mater Collection"
            width="300"
            height="175"
          />
        </a>
      </p>
    </div>
  </div>
</section>
<section id="search-5" class="widget boxed widget_search">
  <div class="widget-wrap">
    <form class="search-form" method="get" action="{{ '/' | relative_url }}" role="search">
      <label class="search-form-label screen-reader-text" for="searchform-3">Search this website</label>
      <input class="search-form-input" type="search" name="s" id="searchform-3" placeholder="Search this website" />
      <input class="search-form-submit" type="submit" value="Search" />
      <meta content="{{ '/' | relative_url }}?s={s}" />
    </form>
  </div>
</section>
<section id="recent-posts-2" class="widget boxed widget_recent_entries">
  <div class="widget-wrap">
    <h3 class="widgettitle widget-title">Recent posts</h3>
    <ul>
      <li class="placeholder">Latest news posts will appear here once the collection has been migrated.</li>
    </ul>
  </div>
</section>
<section id="text-28" class="widget boxed widget_text">
  <div class="widget-wrap">
    <h3 class="widgettitle widget-title">Stabat Mater composers</h3>
    <div class="textwidget">
      <p>
        Search for composers:<br />
        <a href="{{ '/composers/' | relative_url }}">Alphabetically</a><br />
        <a href="{{ '/composers/' | relative_url }}">By countries of origin</a><br />
        <a href="{{ '/composers/' | relative_url }}">Chronologically</a><br />
        <a href="{{ '/composers/' | relative_url }}">By duration</a>
      </p>
    </div>
  </div>
</section>
