<div class="wrap">
  <ul id="menu-topmenu" class="menu genesis-nav-menu menu-third responsive-menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="{{ '/stabat-mater-collection-support/' | relative_url }}">Donate</a>
    </li>
    <li class="instagram menu-item menu-item-type-custom menu-item-object-custom">
      <a href="https://www.instagram.com/stabatmater.info/">
        <span class="menu-image-title-hide menu-image-title">instagram</span>
        <span class="dashicons dashicons-instagram hide-menu-image-icons" aria-hidden="true"></span>
      </a>
    </li>
    <li class="youtube menu-item menu-item-type-custom menu-item-object-custom">
      <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw">
        <span class="menu-image-title-hide menu-image-title">Youtube</span>
        <span class="dashicons dashicons-video-alt3 hide-menu-image-icons" aria-hidden="true"></span>
      </a>
    </li>
    <li class="twitter menu-item menu-item-type-custom menu-item-object-custom">
      <a href="https://twitter.com/StabatMaterSite">
        <span class="menu-image-title-hide menu-image-title">Twitter</span>
        <span class="dashicons dashicons-twitter hide-menu-image-icons" aria-hidden="true"></span>
      </a>
    </li>
    <li class="menu-item wpml-ls-item">
      <a href="{{ '/nl/' | relative_url }}" title="Switch to">
        <img
          class="wpml-ls-flag"
          src="{{ '/assets/images/flag-nl.png' | relative_url }}"
          alt="Dutch"
          width="18"
          height="12"
        />
      </a>
    </li>
  </ul>
</div>
