<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
  <div class="wp-block-embed__wrapper">
    <iframe
      title="{{ include.title | default: 'YouTube video player' }}"
      width="500"
      height="281"
      src="https://www.youtube.com/embed/{{ include.id }}?feature=oembed"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  {% if include.caption %}
    <figcaption class="wp-element-caption">{{ include.caption }}</figcaption>
  {% endif %}
</figure>
